---
import Card from './Card'
import ButtonSuscribe from './Subscribe'

const cards = [
    {
        id: 1,
        title: '"Intro"',
        text: 'We are a community of great growth and value, focused on programming and technology.',
        link: '/'
    },
    {
        id: 2,
        title: '"Hacking Workshop"',
        text: 'Learn the art of ethical hacking and cybersecurity.',
        link: '/about'
    },
    {
        id: 3,
        title: '"Tech Talk"',
        text: 'Engage in insightful discussions about the latest technological advancements.',
        link: '/talk'
    },
    {
        id: 4,
        title: '"Coding Challenge"',
        text: 'Test your coding skills and problem-solving abilities in a competitive environment.',
        link: '/challenge'
    },
    {
        id: 5,
        title: '"Innovation Workshop"',
        text: 'Explore innovative ideas and learn how to bring them to life.',
        link: '/innovation'
    },
    {
        id: 6,
        title: '"Design Thinking Session"',
        text: 'Learn the principles of design thinking and apply them to solve real-world problems.',
        link: '/pages'
    },
    
]
---
<section class='text-white bg-gradient-to-br from-gray-800 via-gray-700 to-gray-800'>
    <div class='p-10 md:mx-2.5 text-center'>

			
        <h1 class='text-center text-4xl font-extrabold mb-5'>
            Welcome to our Community!
        </h1>
        <p class='md:px-40 text-lg font-normal text-gray-200'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis aspernatur officia atque iure, velit minima adipisci. Ut, nulla corporis. A quae iste dicta laborum ullam sed dignissimos odio molestias nulla.</p>
        <ButtonSuscribe client:load/>
    </div>
    <div class='mx-auto max-w-screen-xl px-4 py-2 sm:px-6 sm:py-4 lg:px-8 lg:py-8'>
        <div class=' grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3'>
            {
                cards.map(
                    (card) => (
                        <Card
                            title={card.title}
                            text={card.text}
                            link={card.link}
                            />
                           
                    )

                )
                
            }

        </div>  

    </div>


</section>