---
import Card from './Card'
---
<section class='bg-gray-900 text-white'>
    <div class='mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16'>
        <div class='mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3'>
    
            <Card title='sdsd' text='dfdf' link='about'/>
            <Card title='sdsd' text='dfdf' link='about'/>
            <Card title='sdsd' text='dfdf' link='about'/>
            <Card title='sdsd' text='dfdf' link='about'/>

        </div>  

    </div>


</section>